<!DOCTYPE html>
<html>
<head>
  <title>Weather App</title>
  <meta charset="UTF-8">
  <link href='https://fonts.googleapis.com/css?family=Lato:700,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body ng-app="weatherApp">
<section class="container" ng-controller="MainController">
  
  <h1>Ann Arbor, MI</h1>

  <div class="forecast">
    <h3>{{ forecast[0].date.month }}/{{ forecast[0].date.day }}/{{forecast[0].date.year}}</h3>
    <div>{{ forecast[0].conditions }}</div>
    <div>High: {{ forecast[0].high.fahrenheit }} &deg;F</div>
    <div>Low: {{ forecast[0].low.fahrenheit }} &deg;F</div>
  </div>

  <article class="container">
    <div class="forecast" ng-repeat="weather in forecast" ng-if="$index > 0">
      <h3>{{ weather.date.month }}/{{ weather.date.day }}/{{weather.date.year}}</h3>
      <div>{{ weather.conditions }}</div>
      <div>High: {{ weather.high.fahrenheit }} &deg;F</div>
      <div>Low: {{ weather.low.fahrenheit }} &deg;F</div>
    </div>
  </article>

</section>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/MainController.js"></script>
<script type="text/javascript" src="js/services/weather.js"></script>
</body>
</html>